.filter-fields-list .parent-cat {
    border: 1px solid #ccc;
    max-width: 30%;
    margin-bottom: 20px;
}
.filter-fields-list .child-cat,h5{
    border: 1px solid #ccc;
}
.filter-fields-list{
    text-align: center;
}
.filter-fields-list .child-cat,h5{
    margin: 10px 40px;
}
#sortable li {
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
}

.sortable-item {
    border: 1px solid #ccc;
    padding: 10px;
}
.gf-sortable-categories-wrapper h2:hover,h3:hover,h4:hover,h5:hover {
    cursor: pointer;
}
.gf-sortable-categories-wrapper h2:hover .child-cat{
    background-color: #DDDDDD;
}
.gf-sortable-categories-wrapper h2:hover + .parent-cat {
    background: #DDDDDD
}