#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}
.gf-sortable-categories-wrapper{
    list-style: none;
}
#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
}
.sortable-item {
    border: 1px solid #ccc;
    padding: 10px;
}
#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

.gf-sortable-categories-wrapper .sortable-list{
    border: 1px solid #ccc;
    width: 15%;
    padding: 10px;
}
.gf-sortable-categories-wrapper .ui-sortable-handle:hover{
    background-color: #ddd;
    cursor: all-scroll;
}
.sub-cat {
    margin-left: 10px;
}