#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

.gf-sortable-categories-wrapper .ui-sortable-handle{
    border: 1px solid #ccc;
    width: 15%;
    padding: 10px;
    background-color: #fafafa;
}
.gf-sortable-categories-wrapper .ui-sortable-handle:hover{
    background-color: #ddd;
    cursor: all-scroll;
}